fastapi
uvicorn
pydantic
sqlalchemy
alembic
httpx
psycopg2-binary
pytest
cryptography
langgraph
langchain
langchain-core
langchain-groq
python-dotenv
typing-extensions
pgvector
sentence_transformers
langchain-community
langchain-huggingface
faiss-cpu
unstructured
python-pptx
python-docx
pdfminer.six
openpyxl
langchain-experimental
langchain-cerebras
pypdf
docx2txt
